@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;  
}

.stu-logo-dash{
    height: 80px;
    width: 180px;
    margin-top: 10px;
}

.btn-dash{
    padding: 5px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #426642;
    color: white;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.btn-dash:active{
  transform: scale(0.95);
}


h1{
    text-align: center;
    margin-top: 20px;
    font-family: "Lobster Two", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;

}

#container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    gap: 30px;
}

.card{
    margin-top: 50px;
    font-family: sans-serif;
    letter-spacing: 2px;
    border: 2px solid #426642;
    padding: 20px;
    border-radius: 10px;
    background-color: #dad7cd39;
    width: 30%;
}

h3{
    text-align: center;
    font-size: 1.3rem;
}

.card>p{
    margin-top: 20px;
}

.card-btn{
    padding: 5px;
    width: 6rem;
    height: 35px;
    margin-top: 30px;
    border: none;
    background-color: #1e6091;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
    letter-spacing: 1px;
}

.card-btn:active{
    transform: scale(0.95);
}

.logout ,
.delete ,
#cancelEditBtn ,
#cancelStudentBtn {
    background-color: rgb(221, 9, 9);
}

#studentModal{ 
    position: fixed; 
    inset: 0; 
    display:none; 
    gap: 20px;
    align-items:center; 
    justify-content:center;
    background: rgba(0,0,0,0.4); 
    z-index: 9999; 
}

.modal-inner{ 
    text-align: center;
    background-color: white;
    padding:20px; 
    border-radius:8px; 
    width: 50%;
    border: 3px solid #426642;
}

.modal-inner>h2{
    font-family: "Lobster Two", sans-serif;
    letter-spacing: 3px;
    color: #426642;
    font-weight: bold;
}

input ,
select{
    display: block;
    margin: 20px auto;
    width: 50%;
    outline: none;
    height: 40px;
    padding: 10px;
    border: 3px solid #426642;
    font-size: 1rem;
    text-align: center;
}

input:hover , 
select:hover{
    background-color: #ddd;
    color: #426642;
}

input:focus , 
select:focus{
    background-color: white;
    color: black;
}

select>option{
    background-color: white;
    color: #426642;
}

select>option:focus{
    background-color: #426642;
    color: white;
}


@media screen and (max-width : 1024px) {
    .modal-inner{ 
        padding: 30px; 
        width: 60%;
    }
    select ,
    input{
        width: 90%;
        height: 70px;
        font-size: 15px;
    }
}
@media screen and (max-width : 768px) {
    #container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .card{
        width: 70%;
    }
    .modal-inner{ 
        padding: 30px; 
        width: 70%;
    }
    select ,
    input ,
    option{
        width: 90%;
        height: 39px;
        font-size: 12px;
    }
}
@media screen and (max-width : 425px) {
    .btn-dash{
        padding: 2px;
        width: 90px;
        height: 30px;
    }
    .card{
        width: 80%;
    }
    h3{
        font-size: 1rem;
    }
    .card>p{
        font-size: 15px;
    }
    .modal-inner{ 
        padding: 30px; 
        width: 90%;
        height: 500px;
    }
    select ,
    input ,
    option{
        width: 90%;
        height: 39px;
        font-size: 12px;
    }
    .card-btn {
        padding: 5px;
        width: 5rem;
        height: 30px;
        font-size: 13px;
        margin-top: 15px;
    }
    
}
@media screen and (max-width : 375px) {
    h1{
        font-size: 2rem;
    }
    .stu-logo-dash{
        height: 70px;
        width: 150px;
    }
    select ,
    input ,
    option{
        width: 90%;
        height: 39px;
        font-size: 10px;
        font-size: 13px;
    }
}
@media screen and (max-width : 320px) {
    h1{
        font-size: 1.6rem;
    }
    .stu-logo-dash{
        height: 50px;
        width: 120px;
    }
    .card{
        width: 100%;
    }
    .card>p{
        font-size: 13px;
    }
    .modal-inner>h2{
        font-size: 1.1rem;
    }
    select ,
    input ,
    option{
        width: 100%;
        height: 40px;
        font-size: 12px;
    }
}