@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  height: 100vh;
}

.design{
  background-color: #ddd;
  height: 500px;
  width: 600px;
  padding: 20px;
  text-align: center;
  font-family: "Lobster Two", sans-serif;
  border-radius: 10px;
}

.stu-logo{
  height: 250px;
  width: 500px;
  margin-top: 20px;
}

.signup{
  background-color: #ddd;
  height: 500px;
  width: 450px;
  padding: 20px;
  font-family: "Lobster Two", sans-serif;
  border-radius: 10px;
  font-size: 20px;
}

h1{
  text-align: center;
  margin-bottom: 10px;
  font-size: 3rem;
  margin-top: 18px;
}

h3{
  font-size: 23px;
  letter-spacing: 2px;
  margin-top: 50px;
}

input{
  display: block;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

input:focus{
  outline: none;
  border: 3px solid #3A5A40;
}

.btn{
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #426642;
  border: none;
  border-radius: 10px;
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 14px;
  margin-top: 30px;
  letter-spacing: 3px;
}

.btn:active{
  transform: scale(0.95);
}

.p-login{
  margin-top: 20px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 18px;
}

a{
  text-decoration: none;
}

@media screen and (max-width : 425px) {
  .design{
    width: 280px;
    padding: 20px;
  }
  h1{
    font-size: 2rem;
  }
  .stu-logo{
    height: 150px;
    width: 300px;
  }
}
